<p my-error>Custom Directive</p>
<button (click)="logout()">Logout!</button>
<div class="side-nav">
    <div class="img-container">
        <div>
            <img class="profile-img" src="/assets/img/download.png">
        </div>
        <i class="fa fa-pencil"></i>
        <!-- <button>Edit</button> -->
    </div>
    <span class="side-link"><a>Test1</a></span>
    <span class="side-link"><a>Test2</a></span>
    <span class="side-link"><a>Test3</a></span>
    <span class="side-link"><a>Test4</a></span>
    <span class="side-link"><a>Test5</a></span>
</div>
<div>
    <video width="450px" height="350px" controls>
        <source src="/assets/video/demo.mp4" type="video/mp4">
      </video>
</div>