<!-- <div class="container">
  <div class="nav-container">
  <div class="navbar" style="width: 100%">
    <div class="nav-logo" style="width: 10%">
      <a class="logo-text"><i class="fa fa-home"></i>&emsp;Logo</a>
    </div>
    <div class="nav-icon-label" style="width: 90%">
      <a class="nav-icon"><i class="fa fa-globe"></i></a>&emsp;&emsp;&emsp;
    <a class="nav-icon"><i class="fa fa-user"></i></a>&emsp;&emsp;&emsp;
    <a class="nav-icon"><i class="fa fa-envelope"></i></a>&emsp;&emsp;&emsp;
    <a class="nav-icon"><i class="fa fa-bell"></i></a><span class="badge-count">3</span>
    <a class="profile-icon"><img class="img-icon" src="assets/img/doc.jpg"></a>
    </div>
  </div>
</div>
</div> -->
<!-- <span *ngIf="showButton">
<button (click)="navigate()" [routerLink]="['/my-profile']">Click!</button>
</span> -->
<router-outlet></router-outlet>