/* .navbar {
    display: inline-flex !important; 
    padding: inherit;
}

.nav-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
}

.nav-logo {
}

.logo-text {
    color: white !important;
    padding: 12px 44px!important;
    background-color: #557612;
    font-size: 25px;
}

.nav-icon-label {
    background-color: #c2ed6c;
    padding: 10px 24px!important;
}

.profile-icon {
    widows: 17px;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
}

.img-icon {
    border-radius: 50%;
    width: 20px;
}
 */

 .badge-count {
    background-color: #a27e7e;
    border-radius: 50%;
    padding: 0px 9px 2px 9px;
    position: fixed;
    color: pink!important;
}

.nav-icon {
    font-size: 20px; 
    color: white !important;
}

.nav-logo {
    font-size: 25px; 
    color: #a27e7e;
    /* background-color: #ea4663; */
}

nav {
    background-color: pink;
}

.nav-img {
    float: right!important;
}
